$text-color : #0B132A;

.testimonialsConatainer{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 6rem;
    gap: 4rem;
    font-size: 2rem;
    color: $text-color;
    box-shadow: .1rem 5rem 5rem #F6F6F6;
    h2{
        font-size: 4rem;
        font-weight: 500;
        width: 40rem;
        text-align: center;
    }
    p{
        width: 55rem;
        text-align: center;
        font-weight: 300;
        span{
            font-weight: 500;
        }
    }
    
}